@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hi There</h1>
    <p>Kuljinder Love Dogs <a href="https://docs.microsoft.com/aspnet/core">@DateTime.Now</a>.</p>
</div>
